<div class="site-section" id="courses-section">
    <div class="container-fluid">
        <div>
            <div class="jumbotron">
                <h2>All Question Papers</h2>

                <div class="py-5">
                    <div class="container">

                        <!-- test set list starts -->
                        <div class="row">
                            <div *ngFor="let one of allTests; let i=index" class="col-md-4">
                                <div class="card m-3 p-3">
                                    <div class="card-header">
                                        <h4 class="card-title">{{one.setName}}</h4>
                                    </div>
                                    <div class="card-block">
                                        <p class="card-text p-y-1">Class : {{one.classInfo.className}}
                                        </p>
                                        <p class="card-text p-y-1">Board : {{one.boardInfo.boardName}}
                                        </p>
                                        <p class="card-text p-y-1">Subject : {{one.subjectInfo.subjectName}}
                                        </p>

                                        <p class="card-text p-y-1">Exam type : {{one.examType}}
                                        </p>
                                        <p class="card-text p-y-1">Duration : {{one.paperTime}}
                                        </p>
                                        <p class="card-text p-y-1">Total marks : {{one.totalMark}}
                                        </p>


                                        <a style="cursor:pointer;"
                                            [routerLink]="['/question-set-details', one.questionPaperSetId]"
                                            class="btn-sm btn-primary btn-pill text-white m-2">View
                                            Details</a>
                                        <a style="cursor:pointer;" class="btn-sm btn-primary btn-pill text-white m-2"
                                            data-toggle="modal" data-target="#updateSetModal"
                                            (click)="updateDataById(one)">Update</a>
                                        <a style="cursor:pointer;" class="btn-sm btn-danger btn-pill text-white m-2"
                                            (click)="removeQuestionSet(one.questionPaperSetId)">Remove</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- test set list ends -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- update set modal starts -->
<div class="modal fade" id="updateSetModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">


            <div class="modal-header">
                <h4 class="modal-title">Update Question paper information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body">
                <form #setUpdateForm="ngForm"
                    (ngSubmit)="updateQuestionSet(setToUpdate,setUpdateForm.valid,setUpdateForm)">


                    <div *ngIf="setToUpdate">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Question paper title</label>
                                    <textarea [(ngModel)]="setToUpdate.setName" name="setName" #setName="ngModel"
                                        required class="form-control" placeholder="Enter question set title"></textarea>
                                    <small *ngIf="setUpdateForm.submitted && setName.invalid" id="emailHelp"
                                        class="form-text text-danger">*Please enter paper name</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fname">Select Class</label>

                                    <select [(ngModel)]="setToUpdate.classInformation" name="classId" #classId="ngModel"
                                        required class="form-control">
                                        <option *ngFor="let one of dal.classList" [value]="one.classId">
                                            {{one.className}}
                                        </option>
                                    </select>
                                    <small *ngIf="setUpdateForm.submitted && classId.invalid" id="emailHelp"
                                        class="form-text text-danger">*Please select class</small>


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="lname">Select Board</label>
                                    <select [(ngModel)]="setToUpdate.boardInformation" name="boardId" #boardId="ngModel"
                                        required class="form-control">
                                        <option *ngFor="let one of dal.boardList" [value]="one.boardId">
                                            {{one.boardName}}
                                        </option>
                                    </select>
                                    <small *ngIf="setUpdateForm.submitted && boardId.invalid" id="emailHelp"
                                        class="form-text text-danger">*Please select board</small>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fname">Select Subject</label>

                                    <select [(ngModel)]="setToUpdate.subjectInformation" name="subjectId"
                                        #subjectId="ngModel" required class="form-control">
                                        <option *ngFor="let one of dal.subjectList" [value]="one.subjectId">
                                            {{one.subjectName}}</option>
                                    </select>
                                    <small *ngIf="setUpdateForm.submitted && subjectId.invalid" id="emailHelp"
                                        class="form-text text-danger">*Please select Subject</small>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="state">Time in seconds</label>
                                <input [(ngModel)]="setToUpdate.paperTime" name="timeInSeconds" #timeInSeconds="ngModel"
                                    required id="state" class="form-control" type="number">
                                <small *ngIf="setUpdateForm.submitted && timeInSeconds.invalid" id="emailHelp"
                                    class="form-text text-danger">*Please enter paper time</small>
                            </div>
                            <div class="col-md-4">
                                <label for="state">Marks to allot</label>
                                <input [(ngModel)]="setToUpdate.totalMark" id="state" name="totalMarks"
                                    #totalMarks="ngModel" required class="form-control" type="number">
                                <small *ngIf="setUpdateForm.submitted && totalMarks.invalid" id="emailHelp"
                                    class="form-text text-danger">*Please total marks</small>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <div class="col-md-12">
                                <button class="btn btn-primary form-control" type="submit"> Update question
                                    paper</button>
                            </div>

                        </div>

                    </div>

                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- update set modal ends -->